@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-cairo antialiased;
  }

  * {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .font-cairo {
    font-family: 'Cairo', sans-serif;
  }
}
